* @pazdedav @mikmyers @aahmanso @lkennedyshare @yoalgh

/apis/poi/ @pazdedav @mikmyers 
/apis/trips/ @pazdedav @lkennedyshare
/apis/user-java/ @pazdedav @aahmanso 
/apis/userprofile/ @pazdedav @yoalgh
